:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  margin-top: 5rem;
  background-color: rgb(93, 71, 153);
  color: white;
}

.title {
  text-align: center;
  font-size: 5rem;
}

.constantNavContainer {
  display: flex;
  width: 100%;
  border: solid green 2px;
}

.constantNav {
  border: solid red 2px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-flow: row wrap;
  list-style: none;
  font-size: 1.1rem;
}

.linkLogo {
  height: 250px;
  width: 250px;
  z-index: -1;
}

.mineralsContainer {
}

.mineralsBackground {
}

.linkContainer {
  margin-top: 3rem;
  display: flex;
  width: 100%;
  justify-content: center;
  border: solid blue 2px;
}

.linkBackground {
  display: flex;
  flex-direction: column;
  width: 75%;
  align-items: center;
  background-color: rgba(65, 148, 204, 0.514);
  border: solid red 2px;
  padding-bottom: 20rem;
}

a {
  color: white;
  text-decoration: none;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.textClick {
  color: white;
  text-decoration: none;
  padding-top: 3rem;
  padding-bottom: 2rem;
  font-size: 3rem;
}

.outerContainer {
  height: 100vh;
  background: linear-gradient(to bottom, #7927b2, #fb3182);
  display: flex;
  justify-content: center;
  align-items: center;
}

.moreOutContainer {
  height: 100vh;
  background: linear-gradient(to bottom, #7927b2, #fb3182);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  height: 400px;
  max-width: 960px;
  margin: 0 auto;
  padding: 30px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  font-size: 90px;
  font-weight: bold;
  background: linear-gradient(to right, #7927b2, #fb3182);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 350px;
  text-transform: uppercase;
  line-height: 0.77;
}
